{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'style-edit.css' %}">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Edit Contact</title>
</head>

<body>

	<div class='container'>
		<header class="hero">
			<a href="{% url 'contact-profile' contact.id %}">
				<i class="fas fa-chevron-circle-left back-btn"></i>
			</a>
			<div class="hero-info">
				<h1 class="name">{{ contact.name | title }}</h1>
                <img src="{{ contact.img_user }}" alt="">
			</div>
		</header>

		<form action="" method="POST"  enctype="multipart/form-data">
			{% csrf_token %}
			<section class="contact-info">

				<div class="info-line">
					<i class="fas fa-user-circle icon-gradient"></i>
					<input type="text" class="type" name="name" placeholder="First-name"
						value="{{ contact.name | title }}">
				</div>

				<div class="info-line">
					<i class="fas fa-user-circle icon-gradient"></i>
					<input type="text" class="type" name="surname" placeholder="Second-name"
						value="{{ contact.surname | title }}">
				</div>



				<div class="info-line">
					<i class="fas fa-sms icon-gradient fas fa-phone icon-gradient "></i>
					<input type="text" class="type" name="phone-number" placeholder="Phone Number"
						value="{{ contact.phone_number }}">
				</div>



				<div class="info-line">
					<i class="fas fa-envelope icon-gradient"></i>
					<input type="text" class="type" name="url" placeholder="Url" value="{{ request.path }}">
				</div>



				<div class="info-line">
					<i class="fas fa-map-marker-alt icon-gradient location"></i>
					<input type="text" class="type" name="address" placeholder="address" value="{{ contact.address_country }}">
				</div>


			</section>

			<section class="button-container">
				<div class="update-contact">
					<i class="fas fa-check-circle icon-gradient"></i>
					<button class="button">Save Contact</button>
				</div>
			</section>
		</form>

		<section class="button-container">

			<a href="{% url 'delete-contact' contact.id %}">
				<div class="update-contact">
					<i class="fas fa-trash icon-gradient"></i>
					<button class="button">Delete Contact</button>
				</div>
			</a>

		</section>
	</div>

</body>


</html>